<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="<%= rails_live.root_url %>">
      <h1 class='subtitle'>Rails</h1>
      <span class='tags'>
        <span class='tag is-danger is-small'>LIVE</span>
      </span>
    </a>

    <a role="button" data-target="navMenu" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id='navMenu'>
    <div class="navbar-start">
      <div class='navbar-item'></div>
    </div>
    <div class="navbar-end">
      <div class='navbar-item'>
        <%= link_to 'https://github.com/igorkasyanchuk/rails_live', target: '_blank' do %>
          <%= image_tag 'rails_live/github1.svg', title: 'Documentation' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>