/*
 *= require_tree .
 *= require bulma
 *= require_self
*/

.full-screen-columns {
  width: 100%;
}

.logo h1 {
  margin-bottom: 0 !important;
}

.logo img {
  padding-right: 1px;
  max-height: 2rem;
}

.logo .tags {
  padding-left: 3px;
}